<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gtsoft.meddyl.merchant">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:name=".application.Meddyl"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".views.object.Main_View"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.object.Splash_Screen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Register_Validation_Create"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.object.Register_Validate"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.object.Register_Merchant_Contact"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Register_Merchant"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Register_Location"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Register_Description"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Register_Logo"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Merchant_Info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Forgot_Password"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Terms_Of_Service"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Certificate_Redeem"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.base.Tab_Controller"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Validate"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Options"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Fine_Print"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Fine_Print_More"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Image"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Review"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Deal_Create"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Merchant_Edit"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Contact_Edit"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.object.Credit_Card_Add"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Credit_Cards"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.object.Customer_App"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".system.gtsoft.CustomErrorActivity"
            android:label="@string/error_title"
            android:process=":error_activity"
            android:screenOrientation="portrait">

            <!-- You can also use this instead of using CustomActivityOnCrash.setErrorActivityClass(CustomErrorActivity.class); -->
            <!-- <intent-filter> -->
            <!-- <action android:name="cat.ereza.customactivityoncrash.ERROR" /> -->
            <!-- </intent-filter> -->
        </activity>

    </application>

</manifest>